# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.production

# Logs
logs
*.log
npm-debug.log*

# Build folders
dist/
build/

# Uploads (optional)
uploads/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Coverage
coverage/

#ai-service
chroma_db/
venv/